<div id="cv">
  <div class="mainDetails">
    <div id="name">
      <h1><%= resume['name'] %></h1>
      <h2><%= resume['title'] %></h2>
    </div>
    <div id="contactDetails">
      <ul>
        <li><address>e: <a href="mailto:<%= resume['email'] %>" target="_blank"><%= resume['email'] %></a></address></li>
        <li>w: <a href="<%= resume['website'] %>" target="_blank"><%= resume['website'] %></a></li>
        <li>m: <%= resume['mobile'] %></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  <div id="mainArea">
    <section>
      <div class="sectionTitle">
        <h1>Work Experience</h1>
      </div>

      <div class="sectionContent">
      <% var exp = resume['experience'] %>
      <% for(var i = 0; i < exp.length; i++) { %>
        <article>
          <h2 class="subTitle"><%= exp[i]['org_name'] %> - <%= exp[i]['position'] %></h2>
          <p class="subDetails"><%= exp[i]['start_date'] %> - <%= exp[i]['end_date'] %></p>
          <div class="clear"></div>
          <p>
          <% if(exp[i]['desc'].constructor === Array && exp[i]['desc'].length > 1) { %>
            <ul><li><%= exp[i]['desc'].join('</li><li>') %></li></ul>
          <% } else { %>
            <%= exp[i]['desc'] %>
          <% } %>
          </p>
        </article>
      <% } %>
      </div>

      <div class="clear"></div>
    </section>
    <section>
      <div class="sectionTitle">
        <h1>Key Skills</h1>
      </div>
      <div class="sectionContent">
        <ul class="keySkills">
        <% for(var i = 0; i < resume['skills'].length; i++) { %>
          <li><%= resume['skills'][i] %></li>
        <% } %>
        </ul>
      </div>
      <div class="clear"></div>
    </section>
    <section>
      <div class="sectionContent">
        <article>        
          <% var certs = resume['certifications'] %>
          <% for(var i = 0; i < certs.length; i++) { %>
            <h3 class="subTitle"><%= certs[i]['title'] %> (<a href="<%= certs[i]['link'] %>">link</a>)</h3>
          <% } %>
        </article>
      </div>
      <div class="clear"></div>
    </section>
    <section>
      <div class="sectionTitle">
        <h1>Education</h1>
      </div>
      <div class="sectionContent">
      <% var edu = resume['education'] %>
      <% for(var i = 0; i < edu.length; i++) { %>
        <article>
          <h2 class="subTitle"><%= edu[i]['university'] %>, <%= edu[i]['location'] %></h2>
          <p class="subDetails"><%= edu[i]['start_date'] %> - <%= edu[i]['end_date'] %></p>
          <div class="clear"></div>
          <p><%= edu[i]['degree'] %>. <%= edu[i]['course'] %></p>
        </article>
      <% } %>
      </div>
      <div class="clear"></div>
    </section>
  </div>
</div>
