<!doctype html>
<html lang="en">
<head>
  <title>Resume from JSON</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="css/theme1.css">
</head>
<body>

  <header>
    <select id="themes">
      <option value='theme1'>Theme 1</option>
      <option value='theme2'>Theme 2</option>
      <option value='theme3'>Theme 3</option>
    </select>
    <button id="download">Download as PDF</button>
  </header>
  
  <hr />

  <div class="output">
    <section>
      <h1 class="title">
        <script type="text/html" class="title"><%= name %></script>
      </h1>
    </section>

    <section>
      <h2>Experience</h2>
      <div class="experience">
        <script type="text/html">
          <% for(var i = 0; i < exp.length; i++) { %>
          <article>
            <div class="one-line">
              <h3><%= exp[i]['org_name'] %></h3>
              <em><%= exp[i]['start_date'] %> - <%= exp[i]['end_date'] %></em>
            </div>
            <h4><%= exp[i]['position'] %></h4>
            <p>
              <% if(exp[i]['desc'].constructor === Array && exp[i]['desc'].length > 1) { %>
                <ul><li><%= exp[i]['desc'].join('</li><li>') %></li></ul>
              <% } else { %>
                <%= exp[i]['desc'] %>
              <% } %>
            </p>
          </article>
          <% } %>
        </script>
      </div>
    </section>

    <section>
      <h2>Education</h2>
      <div class="education">
        <script type="text/html">
          <% for(var i = 0; i < edu.length; i++) { %>
          <article>
            <div>
              <h3><%= edu[i]['university'] %>, <%= edu[i]['location'] %></h3>
              <em><%= edu[i]['start_date'] %> - <%= edu[i]['end_date'] %></em>
            </div>
            <h4><%= edu[i]['degree'] %>. <%= edu[i]['course'] %></h4>
          </article>
          <% } %>
        </script>
      </div>
    </section>

    <section>
      <h2>Skills</h2>
      <div class="skills">
        <ul>
        <script type="text/html">
          <% for(let i = 0; i < skills.length; i++) { %>
            <li><%= skills[i] %></li>
          <% } %>
        </script>
        </ul>
      </div>
    </section>
  </div>

  <div id="editor"></div>

<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/lodash/lodash.min.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script type="text/javascript">

;(function(global) {

  function Resume(file) {
    return new Resume.init(file)
  }

  function 

  Resume.init = function(file) {
    var self = this;
    self.file = file;
    
    // load json and set values
    load(file, function(resume) {
      self.resume = resume;
      self.sections = Object.keys(resume);
    });
  }

  Resume.prototype = {
    version: '1.0.0',
    constructor: Resume,

    load: function(file, cb, rtype='json') {
      // type can only be `json`, `text` or `blob` for now
      let types = ['json', 'text', 'blob']
      let seltype = (types.indexOf(rtype) === -1) ? 'json' : rtype
      fetch(file).then(function(resp) {
        if(resp.ok) {
          resp[seltype]().then(function(data) {
            cb(data)
          })
        } else {
          console.log(`${resp.status} -> ${resp.statusText}`)
        }
      })
    },

    theme: function(theme) {
      /* provided a them, apply css to resume */
      console.log('theme', theme)
      return this
    },

    render: function(elem, data) {
      var script = $(elem).find('script')
      var c = _.template(script.text())
      $(elem).html(c(data))
      return this
    },

    topdf: function(path) {
      console.log('saving resume to pdf ...');
      return this
    }
  }

  Resume.init.prototype = Resume.prototype

  global.Resume = global.R = Resume
}(window));

  var vivek = Resume('resume.json')
  console.log(vivek);
  // vivek.render('.title', vivek.resume)

  /*function display(resume) {
    render('.title', { name: resume['name']})
    render('.experience', { exp: resume['experience'] })
    render('.education', { edu: resume['education'] })
    render('.skills', { skills: resume['skills'] })

    // helper function to render a template
    function render(elem, data) {
      var script = $(elem).find('script')
      var c = _.template(script.text())
      $(elem).html(c(data))
    }

    $('select').on('change', function() {
      var file = $(this).val();
      $('link[rel=stylesheet]').attr('href', function() {
        return `css/${file}.css`
      })
    })
  }
  */

  /*$('#download').on('click', function() {
    var doc = new jsPDF()
    var specialElementHandlers = {
      '#editor': function(element, renderer) {
        console.log(renderer);
        debugger;
        return true
      }
    };
    doc.fromHTML($('.output').html(), 10, 10, {
      'elementHandlers': specialElementHandlers
    })
    doc.save('resume.pdf')
  })*/

  

/* resume.load('file.json').theme('theme1.css').display() */

</script>
</body>
</html>